.buy-product-image {
    width: 250px;
    border-radius: 15px;
    margin: 10px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.buy-product-container {
    padding: 20px 300px;

}

.buy-product-info {
    display: flex;
    margin-top: 30px;
}

.btn-decrease-quantity {
    background-color: #fff;
    padding: 10px;
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-size: 20;
    box-shadow: rgba(0, 0, 0, 0.2);
}

.btn-increase-quantity {
    background-color: #fff;
    padding: 10px;
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-size: 20;
    box-shadow: rgba(0, 0, 0, 0.2);
}
.product-quantity-text{
    font-size: 40px;
    margin: 10px;
    font-weight: bold;
}
.input-Shipping-Address{
    margin-top:30px;
    width:300px;
    padding: 10px 20px;
}
.btn-place-order{
    display: block;
    margin: 20px auto;
    width:300px;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .buy-product-container {
        padding: 10px;
        margin: 10px 45px;
    }

    .buy-product-info {
        flex-direction: column;
    }
}